PORT=3001
DATABASE_URL=postgresql://apparte_user:apparte_pass@localhost:5433/apparte_db
JWT_SECRET=change_this_in_production
JWT_EXPIRES_IN=1h
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173,http://172.28.112.1:5173
PASSWORD_SALT_ROUNDS=10
SEED_DEFAULT_PASSWORD=Password123!

SEED_TENANT_ALPHA_NAME=Alpha
SEED_TENANT_ALPHA_SLUG=tenant-alpha
SEED_TENANT_ALPHA_ADMIN_EMAIL=admin@alpha.com
SEED_TENANT_ALPHA_USER_EMAIL=user@alpha.com
SEED_TENANT_ALPHA_REPORT_FIRST_NAME=Jose
SEED_TENANT_ALPHA_REPORT_LAST_NAME=Perez
SEED_TENANT_ALPHA_REPORT_LOCATION=Madrid
SEED_TENANT_ALPHA_REPORT_INTERVENTION_TYPE=ACCIDENT_TIME

SEED_TENANT_BETA_NAME=Beta
SEED_TENANT_BETA_SLUG=tenant-beta
SEED_TENANT_BETA_ADMIN_EMAIL=admin@beta.com
SEED_TENANT_BETA_USER_EMAIL=user@beta.com
SEED_TENANT_BETA_REPORT_FIRST_NAME=Raul
SEED_TENANT_BETA_REPORT_LAST_NAME=Garcia
SEED_TENANT_BETA_REPORT_LOCATION=Barcelona
SEED_TENANT_BETA_REPORT_INTERVENTION_TYPE=MEDICAL_ASSISTANCE
