POSTGRES_DB=apparte_db
POSTGRES_USER=apparte_user
POSTGRES_PASSWORD=apparte_pass
POSTGRES_PORT=5433
JWT_SECRET=change_this_in_production
JWT_EXPIRES_IN=1h
PASSWORD_SALT_ROUNDS=10
SEED_DEFAULT_PASSWORD=ChangeThisSeedPassword123!
